@model HomeDetailsViewModel

@{
    
    ViewBag.Title = "Customer Details";
}


<h3>@Model.PageTitle</h3>

<div>
    Name: @Model.Customer.Name
</div>
<div>
    Email: @Model.Customer.Email
</div>
<div>
    Department: @Model.Customer.Department
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}

